*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-size: 62.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 3rem;
}
.App{
  background: linear-gradient(90deg, rgb(248, 224, 89) 0%,
  rgb(226, 18, 98) 100%);
  min-height: 100vh;
  color: white;
}
@import './song';
@import './Player';
